.bg12,
.input3,
.secondary-button13 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.bg12 {
  width: 100%;
  right: 0;
  left: 0;
  background-color: var(--black1);
}
.input3,
.secondary-button13 {
  border-radius: var(--br-9xs);
  box-sizing: border-box;
}
.secondary-button13 {
  width: 25%;
  right: 0;
  left: 75%;
  background-color: var(--color-white);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-13xl);
  align-items: center;
  justify-content: center;
}
.input3 {
  width: 83.82%;
  right: 16.18%;
  left: 0;
  border: 1px solid var(--color-aliceblue);
}
.your-email3 {
  position: absolute;
  top: 34.38%;
  left: 4.41%;
  color: var(--color-aliceblue);
  text-align: left;
  opacity: 0.8;
}
.form-field7 {
  position: absolute;
  height: 30.77%;
  width: 100%;
  top: 69.23%;
  right: 0;
  bottom: 0;
  left: 0;
}
.subscribe-to-get3 {
  position: absolute;
  width: 80.88%;
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  line-height: 140%;
  display: inline-block;
  color: var(--color-white);
  text-align: left;
}
.form4 {
  position: absolute;
  height: 51.74%;
  width: 36.27%;
  top: 23.88%;
  right: 7.33%;
  bottom: 24.38%;
  left: 56.4%;
}
.contact6 {
  top: 89.52%;
  cursor: pointer;
}
.about-us7,
.contact6,
.team3,
.what-we-do5 {
  position: absolute;
  left: 0;
  line-height: 160%;
  opacity: 0.78;
}
.what-we-do5 {
  top: 67.62%;
  cursor: pointer;
}
.about-us7,
.team3 {
  top: 45.71%;
}
.about-us7 {
  top: 23.81%;
}
.home6,
.our-team3 {
  position: absolute;
  top: 0;
  left: 0;
}
.home6 {
  font-size: var(--paragraph-size);
  line-height: 160%;
}
.our-team3 {
  height: 100%;
  width: 20.22%;
  right: 79.78%;
  bottom: 0;
}
.events3,
.projects5 {
  position: absolute;
  top: 45.71%;
  left: 0;
  line-height: 160%;
  opacity: 0.78;
  cursor: pointer;
}
.projects5 {
  top: 23.81%;
}
.more6 {
  position: absolute;
  height: 100%;
  width: 14.21%;
  top: 0;
  right: 41.53%;
  bottom: 0;
  left: 44.26%;
}
.linkdin3,
.twitter3 {
  position: absolute;
  top: 89.52%;
  left: 0;
  line-height: 160%;
  opacity: 0.78;
}
.twitter3 {
  top: 67.62%;
}
.connect6 {
  position: absolute;
  height: 100%;
  width: 17.49%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 82.51%;
}
.gmi-new-logo-16,
.links3 {
  position: absolute;
  top: 23.88%;
}
.links3 {
  height: 52.24%;
  width: 24.4%;
  right: 53.13%;
  bottom: 23.88%;
  left: 22.47%;
  text-align: left;
  font-size: var(--paragraph-small-size);
  color: var(--color-white);
}
.gmi-new-logo-16 {
  height: 16.33%;
  width: 13.13%;
  right: 83.01%;
  bottom: 59.79%;
  left: 3.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.span6 {
  color: var(--neutral-1);
}
.by3 {
  color: var(--neutral-2);
}
.designed-with-by3 {
  font-weight: 300;
}
.coach-manuel7 {
  font-weight: 600;
}
.description3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.footer7 {
  position: absolute;
  height: 8.71%;
  top: 83.83%;
  bottom: 7.46%;
  left: calc(50% - 296px);
  width: 592px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-size: var(--body-1-light-size);
  color: var(--neutral-2);
  font-family: var(--button-semibold);
}
.bg13,
.footer6 {
  position: absolute;
  left: 0;
  width: 1500px;
}
.footer6 {
  top: 1724px;
  height: 402px;
  text-align: right;
}
.bg13 {
  top: 0;
  background-color: #eff7f2;
  backdrop-filter: blur(30px);
  height: 67px;
}
.home7 {
  color: var(--black1);
}
.home7,
.media {
  position: relative;
  font-weight: 500;
}
.nav-link3,
.navbar-button {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.nav-link3 {
  top: 8px;
  left: 757px;
  padding: var(--padding-base) 20px;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.navbar-button {
  top: 12px;
  left: 1274px;
  border-radius: var(--br-9xs);
  background-color: var(--black);
  padding: var(--padding-xs) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
  color: var(--color-white);
}
.logo-icon {
  position: absolute;
  top: 19.5px;
  left: 110px;
  width: 122px;
  height: 28px;
  overflow: hidden;
}
.navbar3 {
  position: absolute;
  top: 0;
  left: -4px;
  width: 1500px;
  height: 67px;
  color: var(--secondary-text);
}
.unsplashcveoh-jjmee-icon4 {
  border-radius: var(--br-xl);
  object-fit: cover;
}
.bg14,
.unsplashcveoh-jjmee-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 384px;
}
.primary-button6,
.secondary-button14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-crimson-100);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-13xl);
  align-items: center;
  justify-content: center;
}
.secondary-button14 {
  left: 232px;
  background-color: var(--color-white);
  cursor: pointer;
  color: var(--black);
}
.button-row3 {
  position: absolute;
  top: 148px;
  left: 229px;
  width: 347px;
  height: 51px;
}
.you-can-contribute2 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--h2-size);
  line-height: 120%;
  display: inline-block;
  text-align: center;
  width: 805px;
}
.content12,
.cta2 {
  position: absolute;
  top: 93px;
  left: 237px;
  width: 805px;
  height: 199px;
}
.cta2 {
  top: 908px;
  left: 110px;
  width: 1280px;
  height: 384px;
  text-align: right;
  color: var(--color-white);
}
.unsplashnp9j7o90hfy-icon,
.unsplashnp9j7o90hfy-icon1,
.unsplashnp9j7o90hfy-icon2,
.unsplashnp9j7o90hfy-icon3 {
  position: absolute;
  top: 229px;
  left: 215px;
  border-radius: var(--br-xl);
  width: 228px;
  height: 245px;
  object-fit: cover;
}
.unsplashnp9j7o90hfy-icon1,
.unsplashnp9j7o90hfy-icon2,
.unsplashnp9j7o90hfy-icon3 {
  top: 521px;
  left: 218px;
}
.unsplashnp9j7o90hfy-icon2,
.unsplashnp9j7o90hfy-icon3 {
  top: 229px;
  left: 498px;
}
.unsplashnp9j7o90hfy-icon3 {
  top: 521px;
  left: 501px;
}
.unsplashnp9j7o90hfy-icon4,
.unsplashnp9j7o90hfy-icon5,
.unsplashnp9j7o90hfy-icon6,
.unsplashnp9j7o90hfy-icon7 {
  position: absolute;
  top: 229px;
  left: 782px;
  border-radius: var(--br-xl);
  width: 228px;
  height: 245px;
  object-fit: cover;
}
.unsplashnp9j7o90hfy-icon5,
.unsplashnp9j7o90hfy-icon6,
.unsplashnp9j7o90hfy-icon7 {
  top: 521px;
  left: 785px;
}
.unsplashnp9j7o90hfy-icon6,
.unsplashnp9j7o90hfy-icon7 {
  top: 229px;
  left: 1065px;
}
.unsplashnp9j7o90hfy-icon7 {
  top: 521px;
  left: 1068px;
}
.our-gallery {
  position: absolute;
  top: 163px;
  left: 263px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.bg15,
.line-icon5 {
  position: absolute;
  top: 171.5px;
  left: 167px;
  width: 72px;
  height: 2px;
}
.bg15 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-crimson-200);
  width: 628px;
  height: 191px;
}
.arrow-button-icon4 {
  position: absolute;
  top: 32px;
  left: 484px;
  width: 56px;
  height: 56px;
}
.seminar-caring-for2 {
  position: absolute;
  top: 27px;
  right: 0;
  line-height: 150%;
  display: inline-block;
  width: 405px;
}
.next-events4 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--paragraph-size);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
}
.event-title4,
.line10 {
  position: absolute;
  top: 8px;
}
.line10 {
  left: 145px;
  border-top: 2px solid var(--black);
  box-sizing: border-box;
  width: 46px;
  height: 2px;
}
.event-title4 {
  right: 56px;
  width: 405px;
  height: 111px;
}
.div4 {
  top: 0;
  line-height: 120%;
  font-weight: 500;
}
.date4,
.div4,
.nov2 {
  position: absolute;
  left: 0;
}
.nov2 {
  top: 58px;
  font-size: var(--paragraph-size);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
}
.date4 {
  top: 0;
  width: 55px;
  height: 77px;
  font-size: var(--h2-size);
}
.content13,
.event4 {
  position: absolute;
  top: 32px;
  left: 40px;
  width: 540px;
  height: 119px;
}
.event4 {
  top: 104px;
  left: 652px;
  width: 628px;
  height: 191px;
}
.event-title5,
.gmi-212 {
  position: absolute;
  width: 381px;
}
.gmi-212 {
  top: 27px;
  right: 0;
  line-height: 150%;
  display: inline-block;
}
.event-title5 {
  top: 8px;
  right: 80px;
  height: 69px;
}
.content14,
.event5 {
  position: absolute;
  top: 32px;
  left: 40px;
  width: 540px;
  height: 88px;
}
.event5 {
  top: 104px;
  left: 0;
  width: 628px;
  height: 191px;
}
.our-events2 {
  position: absolute;
  top: 0;
  right: 1086px;
  line-height: 140%;
  font-weight: 500;
}
.line12 {
  position: absolute;
  top: 27.5px;
  left: 217.5px;
  border-top: 1px solid var(--border);
  box-sizing: border-box;
  width: 1063px;
  height: 1px;
}
.section-title2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 1280px;
  height: 56px;
  font-size: var(--font-size-21xl);
}
.events-section2 {
  position: absolute;
  top: 1369px;
  left: 110px;
  width: 1280px;
  height: 295px;
  cursor: pointer;
  font-size: var(--h3-size);
}
.gmi-new-logo-17 {
  position: relative;
  width: 172.99px;
  height: 65.64px;
  object-fit: cover;
}
.frame-div {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.gallery4,
.home8 {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.gallery4 {
  color: var(--black1);
}
.nav-link4 {
  width: 560px;
  display: flex;
  flex-direction: row;
  padding: 15.158016204833984px 18.947521209716797px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-18xl-9);
}
.nav-button4,
.navbar4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nav-button4 {
  border-radius: 3.79px;
  background-color: var(--black);
  padding: 11.368512153625488px 30.31603240966797px;
  align-items: flex-start;
  cursor: pointer;
  text-align: right;
  font-size: 15.16px;
  color: var(--color-white);
}
.navbar4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  backdrop-filter: blur(28.42px);
  border-bottom: 0.9px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1500px;
  padding: 17.052766799926758px 104.21135711669922px;
  align-items: center;
  gap: 256.74px;
  color: var(--secondary-text);
}
.gallery3 {
  position: relative;
  background-color: var(--bg);
  width: 100%;
  height: 2126px;
  overflow: hidden;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--black);
  font-family: var(--paragraph-small);
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--black);
  width: 32px;
  height: 32px;
}
.close-button,
.cross-icon {
  position: absolute;
  top: 9.47px;
  left: 9.47px;
  width: 13.06px;
  height: 13.06px;
}
.close-button {
  top: 24px;
  left: 584px;
  width: 32px;
  height: 32px;
}
.primary-button-text {
  position: relative;
  font-weight: 500;
}
.primary-button {
  position: absolute;
  top: 389px;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-crimson-100);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-13xl);
  align-items: center;
  justify-content: center;
  text-align: right;
  font-size: var(--paragraph-size);
  color: var(--color-white);
}
.first-name {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 160%;
  opacity: 0.6;
}
.line {
  position: absolute;
  top: 56.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 257px;
  height: 1px;
}
.form-field,
.form-field1,
.line2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  height: 57px;
}
.form-field1,
.line2 {
  left: 288px;
}
.line2 {
  top: 56.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 545px;
  height: 1px;
}
.form-field2 {
  position: absolute;
  top: 89px;
  left: 0;
  width: 544px;
  height: 57px;
}
.type-your-messege {
  position: absolute;
  top: 43px;
  left: 20px;
  font-size: var(--paragraph-size);
  line-height: 160%;
  opacity: 0.3;
}
.text-area {
  position: absolute;
  top: 22.5px;
  left: -0.5px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 545px;
  height: 157px;
}
.form-field3 {
  position: absolute;
  top: 178px;
  left: 0;
  width: 544px;
  height: 179px;
}
.form,
.lorem-ipsum-dolor {
  position: absolute;
  left: 48px;
  width: 544px;
}
.form {
  top: 196px;
  height: 440px;
}
.lorem-ipsum-dolor {
  top: 120px;
  font-size: var(--paragraph-small-size);
  line-height: 160%;
  color: var(--secondary-text);
  display: inline-block;
}
.join-as-a {
  position: absolute;
  top: 48px;
  left: 48px;
  font-size: var(--font-size-21xl);
  line-height: 140%;
}
.popup {
  position: relative;
  border-radius: 8px;
  background-color: var(--color-white);
  width: 640px;
  height: 684px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--black);
  font-family: var(--paragraph-small);
}
